<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>

    <title>Document</title>
</head>

<body>
    <h1 class="title">Olá Mundo!</h1>
</body>


<script src="/to-do-list/app/public/js/script.js"></script>
<link rel="stylesheet" href="/to-do-list/app/public/css/globalStyles.css">
<link rel="stylesheet" href="/to-do-list/app/public/css/styles.css">

</html>