<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <title>Tasks</title>
</head>

<body>
    <main class="main-content">
        <div class="card-content">
            <h1>My Tasks</h1>
            <div class="task-list-content">
            </div>
            <div class="footer-card">
                <span id="btn-add-task">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        style="fill: rgba(0, 0, 0, 1);">
                        <path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"></path>
                    </svg>
                    Add Task
                </span>
            </div>
        </div>
    </main>
</body>
<script src="/to-do-list/app/public/js/script.js"></script>
<link rel="stylesheet" href="/to-do-list/app/public/css/globalStyles.css">
<link rel="stylesheet" href="/to-do-list/app/public/css/styles.css">

</html>